


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%-include('extras/errors.ejs')%>
<form action="/signup" method="post">
    <label for="firstName">Enter First Name: </label>
    <input type="text" name="firstName">
    <label for="lastName">Enter Last Name: </label>
    <input type="text" name="lastName">
    <label for="username">Enter email: </label>
    <input type="email" name="username">
    <label for="password">Enter password: </label>
    <input type="password" name="password">
    <button type="submit">submit</button>
</form>  
</body>
</html>