<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become admin</title>
</head>
<body>
    SIKE!! Did you really think it was that easy????
    <form action="/upgrade/admin/<%=userId%>" method="post">
        <label for="adminCode">Enter code: </label>
        <input type="text" name="adminCode">
        <button type="submit">submit</button>
    </form>
</body>
</html>